@use "sass:map";

$headings-color: #000;
$headings-font-family: Asap, "Lucida Sans", Helvetica, Arial, sans-serif;
$headings-font-weight: bold;
$headings-line-height: inherit;
$link-color: #0099BB;
$link-hover-color: $link-color;
$maxContentWidth: 1000px;
$layoutBoxShadow: 0.25em 0.25em 0.25em 0.25em rgba(0, 0, 0, 0.2);

/**************
 * BASIC TAGS *
 **************/
html,
body {
    background-color: #3A4040;
    color: #000000;
    font-family: Asap, "Lucida Sans", Helvetica, Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2em;
    margin: 0;

    &.page-title {
        color: #cc0000;
        font-size: 200%;
        font-weight: bold;
        margin-bottom: 0.5em;

        a:link,
        a:visited,
        a:hover,
        a:active {
            color: #cc0000;
        }
    }
}

h2 {
    font-size: 120%;
    font-weight: bold;
    margin-bottom: 14px;
    padding-right: 5px;
    text-align: left;
}

h3 {
    font-size: 100%;
    font-weight: bold;
    margin-bottom: 14px;
    padding-right: 5px;
    text-align: left;
}

p {
    margin: 0 0 10px 0;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

blockquote {
    p {
        display: inline;
    }
}

abbr {
    border-bottom: 1px dashed #444;
    cursor: default;
}

sup,
sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}

sub {
    top: 0.4em;
}

ul,
ol {
    padding-left: 40px;
    margin: 10px 0;
}

ul {
    list-style-position: outside;
    list-style-type: disc;

    &.unstyled {
        margin: 0;
        padding: 0;

        li {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
    }

    > li {
        list-style-position: outside;
        list-style-type: disc;
    }
}

img {
    border: 0;
}

acronym {
    cursor: default;
}

/**********
 * LAYOUT *
 **********/
body {
    &.default-layout {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    > header {
        background-color: #fff;
        border-bottom: 5px solid #cc0000;
        flex: none;
        height: 70px;
        line-height: inherit;
        min-width: 1000px;
        padding: 0;
        position: relative;

        .max-width {
            height: 65px;
            position: relative;
        }

        h1 {
            color: #cc0000;
            float: left;
            font-size: 11px;
            font-weight: bold;
            letter-spacing: 2px;
            margin-top: 15px;
            text-transform: uppercase;
            a {
                color: #cc0000;

                &:hover {
                    color: #000;
                    text-decoration: none;
                }
            }
        }

        nav {
            float: right;
            margin-top: 10px;
            bottom: 0;
            right: 0;
            position: absolute;

            a:link,
            a:visited,
            a:hover,
            a:active {
                background-color: #CC0000;
                color: #FFF;
                display: block;
                float: left;
                font-size: 10px;
                font-weight: bold;
                margin: 0 2px -5px 2px;
                padding: 5px;
                text-align: center;
                text-decoration: none;
                text-transform: uppercase;
                vertical-align: text-bottom;

                &:last-child {
                    margin-right: 0;
                }

                &.selected {
                    background-color: #3A4040;
                }
            }

            a:hover {
                background-color: #3a4040;
            }
        }
    }

    > footer {
        background-color: #fff;
        border-top: 5px solid #cc0000;
        flex: none;
        font-size: 90%;
        line-height: 1.3em;
        text-align: left;

        section {
            padding-top: 1em;

            h3 {
                font-size: 125%;
                font-weight: bold;
                margin: 15px 0 0 0;
            }
        }

        address {
            font-style: normal;
            margin-bottom: 10px;
        }

        hr {
            clear: both;
        }

        dl {
            margin: 0;
            padding: 0;
        }

        dt {
            clear: left;
            float: left;
            margin: 0;
            padding: 0 5px 0 0;
        }

        dd {
            clear: right;
            float: left;
            margin: 0;
            padding: 0;
        }
    }
}

#two-col-wrapper {
    #content {
        border-radius: 1em;
    }
}

@media (min-width: 0) {
    #sidebar {
        border-radius: 1em;
    }
}

@media (min-width: map.get($grid-breakpoints, "md")) {
    #sidebar {
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 0;
        border-top-left-radius: 1em;
        border-top-right-radius: 0;
    }
    #two-col-wrapper {
        #content {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 1em;
            border-top-left-radius: 0;
            border-top-right-radius: 1em;
        }
    }
}

#content {
    background-color: #FFF;
    border-radius: 1em;
    box-shadow: $layoutBoxShadow;
    padding: 1em;
}

#flash-messages {
    padding: 5px;
}

.page-header {
    margin-top: 0;
}

.max-width {
    margin-left: auto;
    margin-right: auto;
    width: $maxContentWidth;
}

.max-width-padded {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: $maxContentWidth - 20px;
}

#data-center-logo {
    bottom: 0;
    clear: left;
    margin-top: 10px;
    position: absolute;
}

#site-title {
    background-color: #fff;
    margin: 15px auto;

    img {
        display: block;
    }
}

#cberlogo-copyright {
    color: #3a4040;
    font-size: 80%;
    letter-spacing: 1px;
    text-transform: uppercase;

    img {
        max-width: 100%;
    }
    p {
        margin-top: 0.5em;
    }
}

#data-center-nameplate {
    color: #CC0000;
    bottom: 0;
    display: block;
    font-family: Asap, sans-serif;
    font-size: 20px;
    font-weight: 700;
    left: 0;
    line-height: 20px;
    position: absolute;
    text-decoration: none;
    text-transform: uppercase;
}

#sql_dump_toggler {
    color: #fff;
    font-weight: bold;
    display: inline-block;
    margin-top: 20px;
}

#sidebar {
    background-color: #fff;
    box-shadow: $layoutBoxShadow;
    padding: 1em;
    width: 200px;

    h3 {
        font-size: 120%;
        font-weight: bold;
        margin: 20px 0 5px 0;
        text-transform: uppercase;
    }

    > h3:first-child,
    > div:first-child > h3 {
        margin-top: 0;
    }

    p {
        line-height: 110%;
    }

    a {
        color: #0099bb;
    }

    > div {
        margin-bottom: 15px;

        h3 {
            font-size: 11pt;
            font-weight: bold;
            margin-bottom: 5px;
        }

        select,
        input {
            width: 150px;
        }
    }
}

#content-wrapper {
    flex: 1 0 auto;
    padding-bottom: 30px;

    &::after {
        content: '\00a0'; /* &nbsp; */
        display: block;
        height: 0;
        visibility: hidden;
    }
}

#content-inner-wrapper {
    background-color: #fff;
    padding: 15px;
}

#noscript {
    background-color: #FFCBAF;
    border-radius: 5px;
    border: 1px solid #7F0000;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
    color: #7F0000;
    font-weight: bold;
    left: 15px;
    padding: 20px;
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 10;
}

/*********
 * FORMS *
 *********/
input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
    background-color: #FAFAFF;
    border: 1px solid #7F9DB9;
}

/****************
 * GRADE COLORS *
 ****************/
$gradeColorA: #CC553E;
$gradeColorB: #E69F5A;
$gradeColorC: #E0C95A;
$gradeColorD: #85BEBF;
$gradeColorF: #4B88AA;

svg {
    path {
        &.grade-a {
            fill: $gradeColorA;
        }

        &.grade-b {
            fill: $gradeColorB;
        }

        &.grade-c {
            fill: $gradeColorC;
        }

        &.grade-d {
            fill: $gradeColorD;
        }

        &.grade-f {
            fill: $gradeColorF;
        }
    }
}

.grade-a {
    background-color: $gradeColorA;
    fill: $gradeColorA;
}

.grade-b {
    background-color: $gradeColorB;
    fill: $gradeColorB;
}

.grade-c {
    background-color: $gradeColorC;
    fill: $gradeColorC;
}

.grade-d {
    background-color: $gradeColorD;
    fill: $gradeColorD;
}

.grade-f {
    background-color: $gradeColorF;
    fill: $gradeColorF;
}

/*******************************
 * OVERRIDING BOOTSTRAP STYLES *
 *******************************/
.dropdown-menu {
    > li {
        list-style-type: none;
    }
}

/******************************
 * OVERRIDING CKEDITOR STYLES *
 ******************************/
.ck-editor__editable_inline {
    min-height: 300px;
}

/*****************************
 * OVERRIDING CAKEPHP STYLES *
 *****************************/
.cake-error,
.cake-debug,
.notice,
p.error,
p.notice {
    clear: none;
}

.cake-sql-log {
    table {
        background: #f4f4f4;
    }

    td {
        font-family: Monaco, Consolas, "Courier New", monospace;
        padding: 4px 8px;
        text-align: left;
    }

    caption {
        color: #fff;
    }
}

/*****************
 * MISCELLANEOUS *
 *****************/
br.clear {
    clear: both;
    height: 0;
}

div.paginator {
    ul {
        margin: auto;
    }

    li {
        margin-right: 1em;

        &:last-child {
            margin-right: 0;
        }
    }
}

.tag-cloud {
    a:nth-child(even) {
        color: #CC0000;
    }
}
